* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: cadetblue;
}


.landing {
  background-color: rgb(246, 203, 242);
  height: 100vh;
  display: grid;
  
  color:rgb(48, 48, 48);
  text-align: center;
  

  .question {
    margin-top: 2rem;
    font-size: 5rem;
    background-color: inherit;
  }
  .link {
    text-decoration: none;
    color: rgb(48, 48, 48);
    font-size: 2.5rem;
    border-radius: 10px;
    border: solid 1px black;
    margin: auto;
    width: 80%;
    height: fit-content;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.3);
    background-color: rgb(246, 170, 242);
  }
}


.reject {
  font-size: 5rem;
  text-align: center;
  display: flex;
  align-items: center;
  height: 50vh;
  padding: 15px;
  text-shadow: 0px 2px 1px rgba(248, 247, 247, 0.33)
}


.welcome {
  font-size: 5rem;
}

.photo {
  height: 300px;
  width: 300px;
}